.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
}
/* .item {
  max-width: 300px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 20px;
} */
